* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: bisque;
}

header {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

header img {
  width: 100px;
}

main {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 80px;
  margin: 10px;
}

main div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main div img {
  width: 100px;
}

footer {
  position: fixed;
  bottom: 0;
  border: 2px solid black;
  width: 99%;
  padding: 20px;
  margin: 5px;
}

footer p {
  font-weight: 900;
}

a {
  padding: 5px 10px;
  text-decoration: none;
  border: 3px solid black;
  margin: 5px;
}
