* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: bisque;
}

header {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

#logo {
  border: 1px solid black;
  padding: 10px;
  border-radius: 24px;
}

main {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 100px;
}

main div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main div img {
  width: 100px;
}

footer {
  position: fixed;
  bottom: 0;
  border: 2px solid black;
  width: 99%;
  padding: 20px;
  margin: 5px;
}

footer p {
  font-weight: 900;
}
